@import url('https://fonts.googleapis.com/css?family=Numans');

.LoginPage__container{
    height: 100%;
    align-content: center;
}

.LoginPage__card{
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.LoginPage__card-header h3{
    color: white;
}

.LoginPage__input-group-prepend span{
    width: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    border-radius: 0px;
}



.LoginPage__links{
    color: white;
}

.LoginPage__links a{
    margin-left: 4px;
}